@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

$mobile-breakpoint: 480px;

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hamburger-menu-icon {
  min-height: 50px;
  padding-top: 10px;
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin-bottom: 6px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

header {
  background-color: white;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid black;
}

.logo {
  margin-left: 20px;
}

.gift-icon::before {
  content: '3';
  margin-right: 10px;
  font-size: 1.5rem;
}

.desktop-nav {
  display: flex;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  background-color: rgb(126, 124, 121);
  justify-content: space-around;
  padding: 5px;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(169, 167, 167);
}

.main-content {
  max-width: 1340px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
  margin-top: 200px;
}

.welcome {
  background-image: url('');
  grid-column: 1 / -1;
  font-size: 2rem;
  color: rgb(7, 7, 7);
  font-weight: bold;
}

#rebate-box {
  background-color: rgb(248, 235, 180);
}

#lights,
#santas {
  background-color: rgb(237, 208, 213);
}

.filter-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.category,
.filter {
  background-color: grey;
  color: white;
  padding: 5px 50px;
}

.product-container {
  padding: 20px 10px;
  max-width: 1340px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.hidden {
  display: none;
}

/*
@media screen and (min-width: $mobile-breakpoint) {
  .desktop-nav {
  }
}
*/
