@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

$mobile-breakpoint: 480px;

body {
  font-family: Roboto, sans-serif;
}

.hamburger-menu-icon {
  background-color: white;
  min-height: 50px;
  padding-top: 10px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin-bottom: 6px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.mobile-nav {
  position: fixed;
  top: 95px;
  padding: 50px;
  z-index: 3;
  line-height: 5;
  font-size: 1.5rem;
  background-color: white;

  a,
  li {
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    color: black;
    pointer-events: painted;
  }
}

header {
  background-color: white;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  margin-left: 20px;
}

.gift-icon::before {
  content: '3';
  margin-right: 10px;
  font-size: 1.5rem;
}

.desktop-nav {
  display: none;
  position: fixed;
  z-index: 3;
  top: 90px;
  left: 0;
  right: 0;
  background-color: rgb(126, 124, 121);
  justify-content: space-around;
  padding: 5px;
  text-transform: uppercase;

  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: rgb(169, 167, 167);
  }
}

.main-content {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px 200px;
  gap: 10px;
  padding: 0 10px;
  margin-top: 150px;
}

.welcome {
  background-image: url('../../public/shop-imgs/welcome-img.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / -1;

  h1 {
    text-shadow: rgb(9, 9, 9) 2px 0 20px;
    margin: 40px;
    font-size: 2rem;
    text-align: center;
    color: white;
    line-height: 60px;
    font-weight: 400;
  }

  p {
    color: white;
    text-shadow: rgb(9, 9, 9) 2px 0 20px;
    padding-bottom: 20px;
    margin: -51px 50px;
    text-align: center;
    font-size: 1.5rem;
  }
}

.rebate-box {
  text-transform: uppercase;
  background-color: rgb(248, 235, 180);
}

.lights,
.santas {
  display: grid;
  align-items: center;
  color: white;
  text-shadow: rgb(9, 9, 9) 2px 0 20px;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: $mobile-breakpoint) {
    font-size: 3rem;
  }
}

.santas {
  background-image: url('../../public/shop-imgs/tomtar-start-page.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lights {
  background-image: url('../../public/shop-imgs/belysning-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pyssel {
  background-image: url('../../public/shop-imgs/pyssel-bild.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#filter {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: grey;
  color: white;
  padding: 5px 50px;
}

.scroll-to-top-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: grey;
  color: white;
  padding: 5px 50px;
}

//Product section

.product-container {
  padding: 100px 10px;
  max-width: 1340px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.product-information {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: end;
  border: 1px solid rgb(186, 183, 183);
  border-radius: 5px;
  padding: 10px;

  h3 {
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
  }

  p {
    padding: 5px;
    margin-top: 10px;
    inline-size: fit-content;
    background-color: rgb(231, 150, 51);
  }

  img {
    position: relative;
    max-height: 200px;
    width: auto;
    justify-self: center;
  }
}

// Shopping cart section
.cart-headline {
  position: relative;
  position: fixed;
  top: 50;
  z-index: 9;
  text-align: center;
}

.shopping-cart {
  overflow-y: scroll;
  position: absolute;
  position: fixed;
  padding: 30px;
  font-size: 1rem;
  z-index: 3;
  margin-top: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(250, 246, 246);
  row-gap: 24px;

  h4 {
    font-family: 'Roboto ' sans-serif;
    position: relative;
    bottom: 18px;
  }
}

.cart-item-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.cart-details-wrapper {
  position: relative;
}

.trash-can {
  height: fit-content;
  width: max-content;
  border: none;
  padding: 0 7px;
  border-radius: 30px;
  color: grey;
  margin-left: 25px;
  background-color: white;
  position: relative;
  left: 115px;
  bottom: 25px;
}

//cart buttons and number
.cart-btns-wrapper {
  width: max-content;
  background-color: white;
  display: flex;
  border: 2px solid grey;
  position: relative;
  left: 30px;
}

#minus-btn,
#plus-btn {
  background: none;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

// cart footer
.checkout-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.input {
  width: 600px;
}

.hidden {
  display: none;
}

.is-visible {
  display: flex;
}

//visa på desktop
@media screen and (min-width: $mobile-breakpoint) {
  .main-content {
    grid-template-rows: 200px 400px 400px;
  }

  .desktop-nav {
    display: flex;
  }

  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .hamburger-menu-icon {
    display: none;
  }

  .logo {
    margin-left: 50px;
    width: 300px;
  }

  .gift-icon {
    margin-right: 30px;
  }
}
